.square {
  height: 25px;
  width: 25px;
  background-color: #d7f8e4;
  border-style: solid;
  border-width: 0.1px;
  display: inline-block;
}

.insect {
  background-color: crimson;
}

.snake {
  background-color: black;
}
