.square {
  height: 25px;
  width: 25px;
  background-color: #c1f085;
  border-style: solid;
  border-width: 0px;
  margin: 0px;
  margin-top: -4px;
  display: inline-block;
}

.insect {
  background-color: crimson;
}

.snake {
  background-color: black;
}
